@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
  }
  #home {
    background-image: url(./assets/bg-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  #login {
    background: url(./assets/login-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  #register,
  .root {
    background: url(./assets/register-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@layer components {
  .btns {
    @apply md:w-[7rem] md:text-base md:py-2 text-xl font-semibold inline-block text-center rounded-3xl;
  }
  .link-btn {
    @apply font-medium hover:underline hover:text-[#BB8C5F];
  }
  .form-input {
    @apply my-4 rounded-lg px-3 py-3 placeholder:text-xl placeholder:text-black placeholder:text-opacity-70 bg-opacity-70 bg-white;
  }
  .update-form {
    @apply my-4 rounded-lg px-3 py-3 placeholder:text-xl text-black placeholder:text-black bg-white;
  }
  .submit-btn {
    @apply border-2 border-white p-3 mt-3 rounded-lg text-white text-lg font-semibold;
  }
  .vehicle-td-style {
    @apply border w-[12.5%] border-black;
  }
}
